<div [ngSwitch]="_dataDrive.dataViewSet.type" style="width: 100%;overflow-x: auto;">
  <div style="margin: auto">
    <app-exam-paper [opts]="_dataDrive" *ngSwitchCase="'exam'" [isModal]="isModal" [header]="_dataDrive.dataViewSet?.tempAddition"></app-exam-paper>
    <app-table [opts]="_dataDrive" *ngSwitchCase="'table'" [isModal]="isModal" [actionRef]="actionRef" [tableCellRef]="tableCellRef"
      [headerCellRef]="headerCellRef" [headerCellStyle]="headerCellStyle" [bodyCellStyle]="bodyCellStyle"
      [minWidth]="viewerMinWidth"></app-table>
  </div>
  <ng-template #selfContainer></ng-template>
</div>
