:host ::ng-deep i {
  font-size: 32px;
  color: #20A0ff;
}

.layer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.showImg {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  flex-direction: column;
  top: -5%;
}

.showImg .prev {
  position: absolute;
  left: -7%;
  top: 50%;
  opacity: 0.5;
  transition: all .8s;
}

.showImg .next {
  position: absolute;
  right: -7%;
  top: 50%;
  opacity: 0.5;
  transition: all .8s;
}

.showImg .prev:hover,
.showImg .next:hover {
  cursor: pointer;
  opacity: 0.8;
}

.showImg .image {
  max-width: 60vw;
  max-height: 60vh;
}
.tip{
  text-align: center;
  font-size: 1.8rem;
  margin-top: 15px;
  color: #fff;
}