<div *ngIf="dataDrive && dataDrive.additionalFn">
  <!-- <nz-row>
    <nz-col nz-col [nzSpan]="4" *ngIf="dataDrive.additionalFn.fullScreen">
      <button nz-button [nzType]="'primary'" (click)="showModal()">
        <span>視圖全屏顯示</span>
      </button>
    </nz-col>
    <nz-col [nzSpan]="10" *ngIf="dataDrive.additionalFn.changeHeaderFontSize">
      <nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="8">
        <div nz-col [nzSpan]="8" class="flex-center">
          <div>列名字體大小：</div>
        </div>
        <nz-slider nz-col [nzMin]="10" [nzMax]="60" [nzSpan]="16" [(ngModel)]="headerFontSize" (nzOnAfterChange)="changeHeaderSize()"></nz-slider>
      </nz-row>
    </nz-col>
    <nz-col [nzSpan]="10" *ngIf="dataDrive.additionalFn.changeBodyFontSize">
      <nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="8">
        <div nz-col [nzSpan]="8" class="flex-center">
          <div>數據字體大小：</div>
        </div>
        <nz-slider nz-col [nzMin]="10" [nzMax]="60" [nzSpan]="16" [(ngModel)]="bodyFontSize" (nzOnAfterChange)="changeBodySize()"></nz-slider>
      </nz-row>
    </nz-col>
    <nz-col nz-col [nzSpan]="4" *ngIf="dataDrive.additionalFn.toExcel">
      <button nz-button [nzType]="'primary'" (click)="toExcel()">
        <span>導出Excel文件</span>
      </button>
    </nz-col>
  </nz-row> -->
  <nz-row>
    <nz-col [nzSpan]="8" style="min-width: 250px;">
      <div style="width: 240px;">
        <ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
          <li nz-menu-item *ngIf="dataDrive.additionalFn.addItem" (click)="addItem()">
            <span title>
              <i class="anticon anticon-plus-circle-o"></i>
              <span>{{'newData' | translate}}</span>
            </span>
          </li>
          <li nz-menu-item *ngIf="dataDrive.additionalFn.filterColumn" (click)="changeMenuDetail('filterColumn')">
            <span title>
              <i class="anticon anticon-plus-circle-o"></i>
              <span>{{'pickColumn' | translate}}</span>
            </span>
          </li>
          <li nz-menu-item *ngIf="dataDrive.additionalFn.fullScreen" (click)="showModal()">
            <span title>
              <i class="anticon anticon-play-circle-o"></i>
              <span>{{'fullScreen' | translate}}</span>
            </span>
          </li>
          <li nz-menu-item *ngIf="dataDrive.additionalFn.toExcel" (click)="toExcel()">
            <span title>
              <i class="anticon anticon-file-excel"></i>
              <span>{{'downloadExcelFile' | translate}}</span>
            </span>
          </li>
          <li nz-menu-item *ngIf="dataDrive.additionalFn.changeBodyFontSize || dataDrive.additionalFn.changeHeaderFontSize" (click)="changeMenuDetail('fontSize')">
            <span title>
              <i class="anticon anticon-setting"></i>
              <span>{{'tableFontSize' | translate}}</span>
            </span>
          </li>
          <li nz-menu-item *ngIf="dataDrive.additionalFn.switchViewType" (click)="switchViewType(dataDrive.additionalFn.switchViewType)">
            <span title>
              <i class="anticon anticon-setting"></i>
              <span>{{'viewType' | translate}}</span>
            </span>
          </li>
        </ul>
      </div>
    </nz-col>
    <nz-col [nzSpan]="14">
      <ng-container *ngIf="menuDetail === 'fontSize'">
        <nz-row [nzType]="'flex'" [nzJustify]="'start'" style="margin-bottom: 20px;" *ngIf="dataDrive.additionalFn.changeHeaderFontSize">
          <div nz-col class="flex-center">
            <div>{{'headerFontSize' | translate}}</div>
          </div>
          <nz-slider nz-col [nzMin]="10" [nzMax]="60" [nzSpan]="12" [(ngModel)]="headerFontSize" (nzOnAfterChange)="changeHeaderSize()"></nz-slider>
        </nz-row>
        <nz-row [nzType]="'flex'" [nzJustify]="'start'" *ngIf="dataDrive.additionalFn.changeBodyFontSize">
          <div nz-col class="flex-center">
            <div>{{'dataFontSize' | translate}}</div>
          </div>
          <nz-slider nz-col [nzMin]="10" [nzMax]="60" [nzSpan]="12" [(ngModel)]="bodyFontSize" (nzOnAfterChange)="changeBodySize()"></nz-slider>
        </nz-row>
      </ng-container>

      <app-filter-column [opts]="dataDrive" *ngIf="menuDetail === 'filterColumn'"></app-filter-column>
      <!-- <app-file-upload [maxCount]="1"></app-file-upload> -->
    </nz-col>
  </nz-row>
</div>
